.id > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.formLabelError {
  color: hsl(var(--destructive));
}
.formDescription {
  font-size: 0.8rem;
  color: hsl(var(--muted-foreground));
}
.body {
  font-size: 0.8rem;
  font-weight: 500;
  color: hsl(var(--destructive));
}
