.toggleBase {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(var(--radius) - 2px);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  --tw-ring-offset-color: hsl(var(--background));
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.toggleBase:hover {
  background-color: hsl(var(--muted));
  color: hsl(var(--muted-foreground));
}
.toggleBase:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow:
    var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
  --tw-ring-color: hsl(var(--ring));
  --tw-ring-offset-width: 2px;
}
.toggleBase:disabled {
  pointer-events: none;
  opacity: 0.5;
}
.toggleBase[data-state="on"] {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}
.toggleDefault {
  background-color: transparent;
}
.toggleOutline {
  border-width: 1px;
  border-color: hsl(var(--input));
  background-color: transparent;
}
.toggleOutline:hover {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}
.toggleDefault {
  height: 2.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.toggleSm {
  height: 2.25rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
.toggleLg {
  height: 2.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
