.pagination {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  justify-content: center;
}
.paginationContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}
.paginationPrevious {
  gap: 0.25rem;
  padding-left: 0.625rem;
}
.paginationPreviousChevronLeft {
  height: 1rem;
  width: 1rem;
}
.paginationNext {
  gap: 0.25rem;
  padding-right: 0.625rem;
}
.paginationEllipsis {
  display: flex;
  height: 2.25rem;
  width: 2.25rem;
  align-items: center;
  justify-content: center;
}
.paginationEllipsisSpan {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
