.command {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  border-radius: calc(var(--radius) - 2px);
  background-color: hsl(var(--popover));
  color: hsl(var(--popover-foreground));
}
.commandDialog {
  overflow: hidden;
  padding: 0px;
}
.commandDialogCommand [cmdk-group-heading] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 500;
  color: hsl(var(--muted-foreground));
}
.commandDialogCommand [cmdk-group]:not([hidden]) ~ [cmdk-group] {
  padding-top: 0px;
}
.commandDialogCommand [cmdk-group] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.commandDialogCommand [cmdk-input-wrapper] svg {
  height: 1.25rem;
  width: 1.25rem;
}
.commandDialogCommand [cmdk-input] {
  height: 3rem;
}
.commandDialogCommand [cmdk-item] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.commandDialogCommand [cmdk-item] svg {
  height: 1.25rem;
  width: 1.25rem;
}
.commandInput {
  display: flex;
  align-items: center;
  border-bottom-width: 1px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.commandInputMagnifyingGlass {
  margin-right: 0.5rem;
  height: 1rem;
  width: 1rem;
  flex-shrink: 0;
  opacity: 0.5;
}
.commandInputInput {
  display: flex;
  height: 2.5rem;
  width: 100%;
  border-radius: calc(var(--radius) - 2px);
  background-color: transparent;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.commandInputInput::placeholder {
  color: hsl(var(--muted-foreground));
}
.commandInputInput:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.commandList {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.commandEmpty {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.commandGroup {
  overflow: hidden;
  padding: 0.25rem;
  color: hsl(var(--foreground));
}
.commandGroup [cmdk-group-heading] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  color: hsl(var(--muted-foreground));
}
.commandSeparator {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
  height: 1px;
  background-color: hsl(var(--border));
}
.commandItem {
  position: relative;
  display: flex;
  cursor: default;
  user-select: none;
  align-items: center;
  border-radius: calc(var(--radius) - 4px);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.commandItem[data-disabled="true"] {
  pointer-events: none;
}
.commandItem[data-selected="true"] {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}
.commandItem[data-disabled="true"] {
  opacity: 0.5;
}
.commandShortcut {
  margin-left: auto;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.1em;
  color: hsl(var(--muted-foreground));
}
