.alertBase {
  position: relative;
  width: 100%;
  border-radius: var(--radius);
  border-width: 1px;
  padding: 1rem;
}
.alertBase > svg + div {
  --tw-translate-y: -3px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.alertBase > svg {
  position: absolute;
  left: 1rem;
  top: 1rem;
  color: hsl(var(--foreground));
}
.alertBase > svg ~ * {
  padding-left: 1.75rem;
}
.alertDefault {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
.alertDestructive {
  border-color: hsl(var(--destructive) / 0.5);
  color: hsl(var(--destructive));
}
@media (prefers-color-scheme: dark) {
  .alertDestructive {
    border-color: hsl(var(--destructive));
  }
}
.alertDestructive > svg {
  color: hsl(var(--destructive));
}
.alertTitle {
  margin-bottom: 0.25rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.025em;
}
.alertDescription {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.alertDescription p {
  line-height: 1.625;
}
