.table {
  position: relative;
  width: 100%;
  overflow: auto;
}
.tableTable {
  width: 100%;
  caption-side: bottom;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.tableHeader tr {
  border-bottom-width: 1px;
}
.tableBody tr:last-child {
  border-width: 0px;
}
.tableFooter {
  border-top-width: 1px;
  background-color: hsl(var(--muted) / 0.5);
  font-weight: 500;
}
.tableFooter:last-child > tr {
  border-bottom-width: 0px;
}
.tableRow {
  border-bottom-width: 1px;
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.tableRow:hover {
  background-color: hsl(var(--muted) / 0.5);
}
.tableRow[data-state="selected"] {
  background-color: hsl(var(--muted));
}
.tableHead {
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;
  vertical-align: middle;
  font-weight: 500;
  color: hsl(var(--muted-foreground));
}
.tableHead:has([role="checkbox"]) {
  padding-right: 0px;
}
.tableCell {
  padding: 1rem;
  vertical-align: middle;
}
.tableCell:has([role="checkbox"]) {
  padding-right: 0px;
}
.tableCaption {
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: hsl(var(--muted-foreground));
}
